{%load static %}
{% load sass_tags %}
<html lang="es">

<head>
    <!-- Experimento de favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/img/favicon/site.webmanifest">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}">
    <!-- Libreria para los iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Libreria para los cluster -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATgmmy8p5H9y-vd5yLC3dzlDNEMrRJ7Tc">
    </script>
    <title>Mapi</title>
</head>
<body>
    <nav class="initialNav">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
            <li><a href="#">Registrarse</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
        </ul>
    </nav>
        
        <div class="page-wrapper">
            <!-- Mapa De Google -->
            <div id="map" class="col-xl-12"></div>
            
            <!-- Container del Panel de Eventos -->
                <div class="sidePanel" id="menuPanel">
                    <!-- <a href="#">Click Para más</a> -->
                    <a href="#" id="closePanel" class="closebtn" onclick="cerrarPanel()">&times;</a>

                    <div class="panelContent">

                        <div class="headerPanel"><h2>Game Fest Maipu 2020</h2></div>
                        <div class="container" id="imgPanel"><img src="{% static '/img/gameFest.jpg' %}" alt="imgEvento"></div>
                        <div class="contentPanel col-sm-12">
                            <h3>Fecha del Evento</h3>
                            <br>
                            <p>21/05/3006</p>
                            <br>
                            <h3>Hora del Evento</h3>
                            <br>
                            <p>14:30 - 18:30</p>
                            <br>
                            <h3>Ubicación</h3> 
                            <br>
                            <p>En tu Raja</p>

                            <br>

                            <h3>¿De que trata?</h3>
                            <br>
                            <p>Un evento 100% digital que se celebrará a lo largo de cuatro meses. Ayer se anunció el Summer Game Fest, una "celebración totalmente digital de los consumidores" de videojuegos de cuatro meses de duración, con "noticias, eventos ingame y contenido jugable gratuito" de las compañías más importantes del sector</p>
                        </div>
                            
                    </div>
                    

                   

                </div>

            <div class="footer-bottom">&copy; Citt Maipu | Designed by Los de Colina 5</div>
        </div>



    <!-- Replace following script src -->
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    <script src="static/js/circle.js"></script>
    <script src="static/js/mapStyle.js"></script>
    <script src="static/js/map.js"></script>
    
    <script>
        window.onload = () =>  {
            initMap();
            initGps();  
        }
    </script>
</body>
</html>