{%load static %}
{% load sass_tags %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}">
    <!-- Libreria para los cluster -->
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    <!-- Importa la api key -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATgmmy8p5H9y-vd5yLC3dzlDNEMrRJ7Tc">
    </script>
    <title>Document</title>
</head>
<body>
    <nav class="initialNav">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
            <li><a href="#">Registrarse</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
        </ul>
    </nav>
        
        <div class="page-wrapper">
            <!-- Mapa De Google -->
            <div id="map" class="col-xl-12"></div>
            <!-- Container del Panel de Eventos -->
            <div class="container">
                <div class="sidePanel" id="menuPanel">
                    <a href="#">Click Para más</a>
                    <a href="#" id="closePanel" class="closebtn" onclick="cerrarPanel()">&times;</a>
                </div>
    
                <div class="panelContent">
                    
                </div>
                
            </div>

            <div class="footer-bottom">&copy; Citt Maipu | Designed by Los de Colina 5</div>
        </div>

        


    <script src="{% static 'js/circle.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    
    <script>
        window.onload = () =>  {
            initMap();
            initGps();
        }
    </script>
</body>
</html>