{%load static %}
{% load sass_tags %}
<html lang="es">

<head>
    <!-- Experimento de favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/img/favicon/site.webmanifest">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}">
    <!-- Libreria para los iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Libreria para los cluster -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATgmmy8p5H9y-vd5yLC3dzlDNEMrRJ7Tc">
    </script>
    <title>Mapi</title>
</head>
<body>
    <nav class="initialNav">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
            <li><a href="#">Registrarse</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
        </ul>
    </nav>
        
        <div class="page-wrapper">
            <!-- Mapa De Google -->
            <div id="map" class="col-xl-12"></div>
            
            <!-- Container del Panel de Eventos -->
                <div class="sidePanel" id="menuPanel">
                    <!-- <a href="#">Click Para más</a> -->
                    <a href="#" id="closePanel" class="closebtn" onclick="closePanel()">&times;</a>

                    <div class="panelContent">
                            
                    </div>

                </div>

                <div class="rightPanel" id="menuPanelR">
                    <!-- <a href="#">Click Para más</a> -->
                    <a href="#" id="closePanel" class="closebtn" onclick="closePanelR()">&times;</a>
                    <h1>Listado de eventos</h1>
                    <input type="text" id="filterInputName" onkeyup="nameFilterEvent()">

                    <button id="allEventsBtn" class="btnFilter" onclick="buttonFilterEvent('all')">Todos los eventos</button>
                    <button id="neartEventsBtn" class="btnFilter" onclick="buttonFilterNearEvent()">Eventos cercanos</button>
                    <label for="text">Tipos de eventos: </label>
                    <button class="btnFilter" onclick="buttonFilterEvent('event')">Eventos</button>
                    <button class="btnFilter" onclick="buttonFilterEvent('workshop')">Workshop</button>
                    <button class="btnFilter" onclick="buttonFilterEvent('area')">Areas</button>
                    <label for="text">Tematicas de eventos: </label>
                    <button class="btnFilter" onclick="buttonFilterEvent('Taller de cocina')">Taller de cocina</button>
                    <button class="btnFilter" onclick="buttonFilterEvent('Artistico')">Artistico</button>
                    <button class="btnFilter" onclick="buttonFilterEvent('Para la comunidad')">Para la comunidad</button>
                    <div class="panelContentR">
                        <ul class="eventListTable">
                        </ul>  
                    </div>
                    
                </div>


            <div class="footer-bottom">&copy; Citt Maipu | Designed by Los de Colina 5</div>
        </div>



    <!-- Replace following script src -->
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    <script src="static/js/circle.js"></script>
    <script src="static/js/mapStyle.js"></script>
    <script src="static/js/map.js"></script>
    
    <script>
        window.onload = () =>  {
            initMap();
        }
    </script>
</body>
</html>