{%load static %}
{% load sass_tags %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}">
    <!-- Libreria para los cluster -->
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    <!-- Importa la api key -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATgmmy8p5H9y-vd5yLC3dzlDNEMrRJ7Tc">
    </script>
    <title>Document</title>
</head>
<body>
    <nav class="initialNav">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
            <li><a href="#">Registrarse</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
        </ul>
    </nav>

        <div id="map" class="col-md-12 center">
        </div>

            

            <!-- <div class="post-slider">
                <h1 class="slider-title">Proximos Eventos</h1>
                <i class="fas fa-chevron-left prev"></i>
                <i class="fas fa-chevron-right next"></i> 

                <div class="post-wrapper">
                    <div class="post">
                        <img src="{% static 'img/lol.jpg' %}" alt="imagen pokemon" class="slider-image">
                        <div class="post-info">
                            <h4><a href="#">Ubicación</a></h4>
                            <i class="far fa-user">Fecha de Evento</i>
                            &nbsp;
                            <i class="far fa-calendar">Marzo 8, 2030</i>
                        </div>
                    </div>

                    <div class="post">
                        <img src="{% static 'img/greninja.jpg' %}" alt="imagen pokemon" class="slider-image">
                        <div class="post-info">
                            <h4><a href="#">Ubicación</a></h4>
                            <i class="far fa-user">Fecha de Evento</i>
                            &nbsp;
                            <i class="far fa-calendar">Marzo 8, 2030</i>
                        </div>
                    </div>

                    <div class="post">
                        <img src="{% static 'img/umbreon.jpg' %}" alt="imagen pokemon" class="slider-image">
                        <div class="post-info">
                            <h4><a href="#">Ubicación</a></h4>
                            <i class="far fa-user">Fecha de Evento</i>
                            &nbsp;
                            <i class="far fa-calendar">Marzo 8, 2030</i>
                        </div>
                    </div>

                    <div class="post">
                        <img src="{% static 'img/futbol.jpg' %}" alt="imagen pokemon" class="slider-image">
                        <div class="post-info">
                            <h4><a href="#">Ubicación</a></h4>
                            <i class="far fa-user">Fecha de Evento</i>
                            &nbsp;
                            <i class="far fa-calendar">Marzo 8, 2030</i>
                        </div>
                    </div>

                    <div class="post">
                        <img src="{% static 'img/xerneas.jpg' %}" alt="imagen pokemon" class="slider-image">
                        <div class="post-info">
                            <h4><a href="#">Ubicación</a></h4>
                            <i class="far fa-user">Fecha de Evento</i>
                            &nbsp;
                            <i class="far fa-calendar">Marzo 8, 2030</i>
                        </div>
                    </div>
                    
                </div>
            </div> -->

        <!-- <div class="col-sm-1" style="background-color: chartreuse;"></div>
        <div class="col-m-4" style="background-color: chartreuse;"> </div>
        <div class="col-m-7" style="background-color: chartreuse;"> </div> -->


    <div class="footer">
        <div class="footer-bottom">
            &copy; Citt Maipu | Designed by Álvaro Peñaloza
        </div>
    </div>

    <!--Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!-- Slick Carosuel Jquery -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="static/js/circle.js"></script>
    <script src="static/js/map.js"></script>
    <script>
        window.onload = () =>  {
            initMap();
            initGps();
        }
    </script>
</body>
</html>