//Background Principal de la pagina

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    background: linear-gradient(80deg,$color-background,$scolor-background);
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

//****** CODIGO CONTENIDO PAGINA ******//
.page-wrapper{
    // min-height: 100%;
    width: 100%;
    align-items: center;
}


//****** CODIGO NAV PRINCIPAL ******//
.initialNav{
    height: $tamañoNav;
    // background: linear-gradient(-120deg,$colorNavP,$colorNavS);
    // background: $colorNavP;
    background: $colorNavP;
    background: linear-gradient(-120deg, $colorNavS, $colorNavP);
    z-index: 2;
    width: $tamañoNavWidth;
    position: fixed;
}

.nav-links{
    display: $displayF;
    list-style: none;
    width: $withNavLink;
    height: $heightNavLink;
    justify-content: space-around;
    align-items: $positionItems;
    margin-left: auto;
    li{
        a{
            color: white;
            text-decoration: none;
            font-size: 16px;
        }
    }
}

.landing{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-app{
        margin: 100px;
        font-size: 50px;
        color: $colorNavS;
    }
}

@media screen and (max-width: 768px){
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    .initialNav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: (-5%, -50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background: linear-gradient(-50deg, $colorNavP, $colorNavS);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: $circleInitial;
        -webkit-clip-path: $circleInitial;
        transition: all 1.5s ease-out;
        pointer-events: none;
        color: $scolor-background
    }

    .nav-links.open{
        clip-path: $circleOpen;
        -webkit-clip-path: circleOpen;
        pointer-events: all;
    }

    .landing{
        flex-direction: column;
    }

    .nav-links li {
        opacity: 0; }
        .nav-links li a {
          font-size: 25px; }
        .nav-links li:nth-child(1) {
          transition: all 0.5s ease 0.2s; }
        .nav-links li:nth-child(2) {
          transition: all 0.5s ease 0.4s; }
        .nav-links li:nth-child(3) {
          transition: all 0.5s ease 0.6s; }
        .nav-links li:nth-child(4){
            transition: all 0.5s ease 0.8s;
        }
        .nav-links li:nth-child(5){
            transition: all 0.5s ease 1.0s;
        }
      li.fade {
        opacity: 1;
        transition: all 1.2s ease-out; } 

}

// @for $i from 1 to 5 {
    //     @for $x from 2 to 10{
    //             transition: all 0.5s ease 0.$x;
    //     }
            
    // }

//****** CODIGO DISEÑO GOOGLE MAP ******//
#map{
    background: royalblue;
    margin-top: 10vh;
    top: 0vh;
    left: 0vh;
    bottom: 0vh;
    height: 86%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

#controlText{
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
    visibility: hidden;
}

#controlUI{
    background-color:  #fff;
    border:  2px solid fff;
    border-radius:  3px;
    box-shadow:  0 2px 6px rgba(0,0,0,.3);
    cursor:  pointer;
    margin-bottom:  22px;
    text-align:  center;
    visibility: hidden;
}

@media only screen and (max-width:1024px){
    .center{
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

//****** CODIGO DISEÑO FOOTER ******//


    .footer-bottom{
        background: linear-gradient(-120deg,$color-footer,$color-footers);
        color: $scolor-background;
        height: 50px;
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding-top: 5px;
        height: 4vh;
        display: block;
    }

//****** CODIGO PANEL LATERAL EVENTOS ******//

#mainbox{
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
}

.sidePanel{
    position: fixed;
    top: 10vh;
    left: 0px;
    height: 86%;
    width: 0px;
    background: linear-gradient(-120deg,#dcdde1,#f5f6fa);
    opacity: 95%;
    overflow-x: hidden;
    transition: all 1s;
    z-index: 1;

    a{
        padding: 8px 8px 8px 64px;
        text-decoration: none;
        font-size: 20px;
        color: $colorNavS;
        display: block;
    }
}

.sidePanel a:hover{
    color: $colorNavP;
}

.sidePanel .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
}

.rightPanel{
    margin-top: 97px;
    height: 86%;
    width: 0px;
    background: linear-gradient(-120deg,#dcdde1,#f5f6fa);
    opacity: 85%;
    overflow-x: hidden;
    transition: all 1s;
    z-index: 1;
    float: right;

    a{
        padding: 8px 8px 8px 64px;
        text-decoration: none;
        font-size: 20px;
        color: $colorNavS;
        display: block;
    }
}

.rightPanel a:hover{
    color: $colorNavP;
}

.rightPanel .closebtn{
    top: 0px;
    right: 25px;
    font-size: 36px;
}

.closebtn:active{
    background: rgba(0,0,0,0);
}

.headerPanel{
    margin-top: 7vh;
    text-align: center;
}

#imgPanel{
    padding-top: 5%;
    margin-left: 3%;
    height: 45vh;
    width: 94%;
}

.contentPanel{
    margin-top: 10%;
}

//****** CODIGO BOTONES MAPA ******//

#iconGps, #iconEvents{
    width: 36px;
    height: 36px;
}

#openEventsControl{
    background-color: #fff;
    border : 2px solid #fff;
    border-radius : 3px;
    box-shadow : 0 2px 6px rgba(0,0,0,.3);
    cursor : pointer;
    margin-bottom : 30px;
    margin-right: 10px;
}

#searchBarControl{
    margin-top : 8px;
    padding : 0;
    height: 38px;
    margin-left: 8px;
}

#searchBarButton{   
    cursor: pointer;
    height: 38px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-left-color: gray;
    border-top-right-radius : 5px;
    border-bottom-right-radius: 5px;
    width: 15%;
    box-shadow : 0 2px 6px rgba(0,0,0,.3);
}

#searchBarInput{
    height: 38px;
    border : 2px solid #fff;
    border-top-left-radius : 5px;
    border-bottom-left-radius: 5px;
    width: 60%;
    box-shadow : 0 2px 6px rgba(0,0,0,.3);
    font-size:16px;
}

#centerControl, #obtainGpsControl{
    background-color: #fff;
    border : 2px solid #fff;
    border-radius : 3px;
    box-shadow : 0 2px 6px rgba(0,0,0,.3);
    cursor : pointer;
    margin-bottom : 22px;
    margin-right: 10px;
}

@media only screen and (max-width:550px){
    #searchBarButton{   
        width: 25%;
    }

    #searchBarInput{
        width: 50%;
    }
}

@media only screen and (min-width:900px){
    #searchBarButton{   
        width: 80px;
    }
    #searchBarInput{
        width: 400px;
        font-size:24px;
    }
}

#listEvents{
    border : 2px solid #fff;
    border-radius : 3px;
    box-shadow : 0 2px 6px rgba(0,0,0,.3);
    float:left;  
    width:25%;
    margin-left: 6.25%; 
    margin-bottom: 6.25%;
    height: 50%;
    text-align: center;
    list-style-type: none; 
}
#listTittle{
    padding: 5px;
}

.btnFilter.active {
    background-color: #666;
    color: white;
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}

#detailEvent{
    text-align: center;
}
#detailEvent h1{
    font-size: 52px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#detailEvent img{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}
#detailEvent p{
    font-size: 24px;
    margin-bottom: 5px;
}
#detailEvent #starsImg{
    width: 100px;
    height: 20px;
    margin: 0;
}


.dropbtn {
    cursor: pointer;
    height: 38px;
    background-color: whitesmoke;
    width: 100px;
    box-shadow : 0 2px 6px rgba(0,0,0,.3);
    margin-right: 10px;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: gray;
}
  
.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100px;
    margin-top: 12px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {display: block;}
#cordsFilter{
    display: none;
}