
//Background Principal de la pagina

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    background: linear-gradient(80deg,$color-background,$scolor-background);
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

//****** CODIGO CONTENIDO PAGINA ******//
.page-wrapper{
    // min-height: 100%;
    width: 100%;
    align-items: center;
}


//****** CODIGO NAV PRINCIPAL ******//
.initialNav{
    height: $tamañoNav;
    // background: linear-gradient(-120deg,$colorNavP,$colorNavS);
    // background: $colorNavP;
    background: $colorNavP;
    background: linear-gradient(-120deg, $colorNavS, $colorNavP);
    z-index: 2;
    width: $tamañoNavWidth;
    position: fixed;
}

.nav-links{
    display: $displayF;
    list-style: none;
    width: $withNavLink;
    height: $heightNavLink;
    justify-content: space-around;
    align-items: $positionItems;
    margin-left: auto;
    li{
        a{
            color: white;
            text-decoration: none;
            font-size: 16px;
        }
    }
}

.landing{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-app{
        margin: 100px;
        font-size: 50px;
        color: $colorNavS;
    }
}

@media screen and (max-width: 768px){
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    .initialNav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: (-5%, -50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background: linear-gradient(-50deg, $colorNavP, $colorNavS);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: $circleInitial;
        -webkit-clip-path: $circleInitial;
        transition: all 1.5s ease-out;
        pointer-events: none;
        color: $scolor-background
    }

    .nav-links.open{
        clip-path: $circleOpen;
        -webkit-clip-path: circleOpen;
        pointer-events: all;
    }

    .landing{
        flex-direction: column;
    }

    .nav-links li {
        opacity: 0; }
        .nav-links li a {
          font-size: 25px; }
        .nav-links li:nth-child(1) {
          transition: all 0.5s ease 0.2s; }
        .nav-links li:nth-child(2) {
          transition: all 0.5s ease 0.4s; }
        .nav-links li:nth-child(3) {
          transition: all 0.5s ease 0.6s; }
        .nav-links li:nth-child(4){
            transition: all 0.5s ease 0.8s;
        }
        .nav-links li:nth-child(5){
            transition: all 0.5s ease 1.0s;
        }
      li.fade {
        opacity: 1;
        transition: all 1.2s ease-out; } 

}


// @for $i from 1 to 5 {
    //     @for $x from 2 to 10{
    //             transition: all 0.5s ease 0.$x;
    //     }
            
    // }



//****** CODIGO DISEÑO GOOGLE MAP ******//
#map{
    background: royalblue;
    margin-top: 10vh;
    top: 0vh;
    left: 0vh;
    bottom: 0vh;
    height: 86%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

#controlText{
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
    visibility: hidden;
}

#controlUI{
    background-color:  #fff;
    border:  2px solid fff;
    border-radius:  3px;
    box-shadow:  0 2px 6px rgba(0,0,0,.3);
    cursor:  pointer;
    margin-bottom:  22px;
    text-align:  center;
    visibility: hidden;
}

@media only screen and (max-width:1024px){
    .center{
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

//****** CODIGO DISEÑO FOOTER ******//


    .footer-bottom{
        background: linear-gradient(-120deg,$color-footer,$color-footers);
        color: $scolor-background;
        height: 50px;
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding-top: 5px;
        height: 4vh;
        display: block;
    }

//****** CODIGO PANEL LATERAL EVENTOS ******//

#mainbox{
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
}

.sidePanel{
    position: fixed;
    top: 10vh;
    left: 0px;
    height: 86%;
    width: 0px;
    background: linear-gradient(-120deg,#dcdde1,#f5f6fa);
    opacity: 95%;
    overflow-x: hidden;
    transition: all 1s;
    z-index: 1;

    a{
        padding: 8px 8px 8px 64px;
        text-decoration: none;
        font-size: 20px;
        color: $colorNavS;
        display: block;
    }
}

.sidePanel a:hover{
    color: $colorNavP;
}

.sidePanel .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
}

.closebtn:active{
    background: rgba(0,0,0,0);
}

.headerPanel{
    margin-top: 7vh;
    text-align: center;
}

#imgPanel{
    padding-top: 5%;
    margin-left: 3%;
    height: 45vh;
    width: 94%;
}

.contentPanel{
    margin-top: 10%;
}

